/* Container do formulário de contato */
.contact-container {
    background-color: #f8f8f8;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Poppins-Regular';

  }
  
  /* Cabeçalho do formulário */
  .contact-header h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  .contact-header p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  /* Estilo para o formulário */
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Estilo para cada grupo de input */
  .contact-form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .contact-form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Estilo para os campos de entrada */
  .contact-form-group input,
  .contact-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins-Regular';

  }
  
  /* Estilo para o botão de envio */
  .contact-submit-button {
    background-color: #2e8b57;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins-Regular';

  }
  
  .contact-submit-button:hover {
    background-color: #1d7a47;
  }
  